# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Xcode
*/build/*

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

xcuserdata

*.d

*.d

*.dia

of_v0.7.4_osx_release/apps/myApps/WhoAmI/build/

*.dep

of_v0.7.4_osx_release/libs/openFrameworksCompiled/lib/osx/build/

